<html>
    <head>
        <title>Calculate the expression</title>
    </head>
    <body>
        <div>
         <form action="/calc" method="post">
            <div>Expression:<input type="text" name="exp"></div>
            <div>Env:<input type="text" name="env"></div>
            <div><input type="submit" value="Calculate"></div>
         </form>
        </div>
    </body>
</html>
